body {
  width: 550px;
  height: 729px;
  margin: 20px auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  border: 1px solid black;
}
.container-1 {
  width: 550px;
  height: 285px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-items: center;
  background-color: #6943ff;
}
h1 {
  font-size: 28px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  color: white;
  margin-top: 33px;
  margin-bottom: 30px;
}
input {
  width: 117px;
  height: 83px;
  color: white;
  border: 2px solid #b295ff;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #6943ff;
  text-align: center;
  font-size: 58px;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}

button {
  width: 117px;
  height: 42px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  margin: 26px auto auto auto;
  padding: 0;
}

.container-2 {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23.43px;
  background-color: #f4f4f4;
  height: 408px;
}
.container-2-el {
  width: 500px;
  height: 77.57px;
  background-color: white;
  padding-top: 31px;
}
h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #5a537b;
}
p {
  font-size: small;
  font-weight: normal;
}
